<nav class="primary-nav">
    <div class="nav-drawer">
        <ul class="primary-nav__items">
            <li><a class="primary-nav__item" href="/home/">Home</a></li>
            <li><a class="primary-nav__item" href="/resume/">Resume</a></li>
            <li><a class="primary-nav__item" href="/projects/">Projects</a></li>
            <li><a class="primary-nav__item" href="/contact/">Contact</a></li>
        </ul>
    </div>
</nav>

<ng-container>
    <router-outlet></router-outlet>
</ng-container>